/* Override some defaults */
html, body {
	height: 100%;
}

body {
	background: #325177;
	background: -moz-radial-gradient(center center, rgba(0, 0, 0, 0), rgba(0, 0, 0, .2)) #325177;
	background: -webkit-gradient(radial, center center, 0, center center, 1000, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 1))) #325177;
	background-attachment:fixed;
}

.container {
	width: 820px; /* downsize our container to make the content feel a bit tighter and more cohesive. NOTE: this removes two full columns from the grid, meaning you only go to 14 columns and not 16. */
}

/* The white background content wrapper */
.content {
	background-color: #fff;
	padding: 20px;
	margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
	-webkit-border-radius: 0 0 6px 6px;
	-moz-border-radius: 0 0 6px 6px;
	border-radius: 0 0 6px 6px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
	box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

/* Page header tweaks */
.page-header {
	background: #333;
	background: -moz-linear-gradient(center center, rgba(0, 0, 0, 0), rgba(0, 0, 0, .2)) #333;
	background: -webkit-gradient(linear, center center, 0, center center, 1000, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 1))) #333;
	padding: 5px 20px;
	margin: -20px -20px 20px;
	z-index: 99;
}

::selection ,
::-moz-selection ,
::-webkit-selection {
	background:#2d7e99; 
	color:#fff;
}

.page-header p {
	text-align: right;
}

.page-header h1 {  
    position: relative;  
    margin-top: 0;
    text-shadow: 2px 3px 3px #292929;  
    -webkit-text-stroke: 1px white;
    font-weight: bold;  
}  

.page-header h1 a {  
    text-decoration: none;  
    color: #325177;  
    position: absolute;  

    -webkit-mask-image: -webkit-gradient(linear, left top, left bottombottom, from(rgba(0,0,0,1)), color-stop(50%, rgba(0,0,0,0)), to(rgba(0,0,0,1)));  
    text-shadow: 0 1px 0 #e9e9e9;  
    -webkit-transition: all .3s;  
    -moz-transition: all .3s;  
    transition: all .3s;  
}  

.page-header h1 a:hover {  
    color: #185a50;  
}  

.page-header h1:after {  
    color: #bdbdbd;  
    content : attr(data-title);  
}  

.content-wrapper {
	margin-top: 50px;
}

/* Give a quick and non-cross-browser friendly divider */
.content > .span5 {
	margin-left: 0;
	padding-left: 19px;
	border-left: 1px solid #eee;
}

.topbar .btn {
	border: 0;
}

#load-more-content {
	background: url("/media/ajax-loader.gif") no-repeat center center;
	display: block;
	margin: 0px auto;
	clear: both;
	height: 30px;
}

#content-box ul.unstyled li {
	background: #f8f8f8;
}

#content-box ul.unstyled li .item h3 {
	line-height: 18px;
}
#content-box ul.unstyled li .item {
	padding: 10px;
}
#content-box ul.unstyled li .actions {
	padding: 10px;
}
#content-box ul.unstyled li .meta-author .span6 {
	margin-left: 0px;
	padding-top: 7px;
}

#content-box ul.unstyled li .meta-author img {
	height: 30px;
	width: 30px;
	display: block;
}


#content-box ul.unstyled li .item .watchers span,
#content-box ul.unstyled li .item .forks span {
	padding-left: 18px;
	background-image: url("/media/forks.png");
	background-repeat: no-repeat;
	background-position: 2px -4px;
}

#content-box ul.unstyled li .item .watchers span {
	background-image: url("/media/watchers.png");
}

#content-box ul.unstyled li .item .meta-labels {
	text-align: right;
	float:right;
}

.container > footer p {
	text-align: center; /* center align it with the container */
}

.container > footer {
	border: none;
	padding-top: 5px;
	margin-top: 5px;
	color: #ddd;
}

.sidebar {
	position: fixed;
}

#header {
	width: 820px; 
	position: fixed;
}